html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 20px 16px;
  box-sizing: border-box;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }


  .header-container {
    letter-spacing: 1px;
    background: url("../assets/images/background-mobile.png") no-repeat, linear-gradient(rgba(117, 47, 255, 1),rgba(85, 0, 252, 1));
    background-size: cover;
    padding: 30px 24px;
    border-radius: 25px;

    .breadcrumbs {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .crumb {
        font-size: 14px;
        height: 29px;
        line-height: 29px;
        font-weight: 600;
        padding: 0 15px;
        border: 2px solid white;
        border-radius: 90px;
        color: white;

        &.active {
          color: rgba(104, 28, 254, 1);
          background-color: white
        }
      }
    }

    .title {
      color: white;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: left;
      margin: 35px 0;
    }

    .logo {
      margin-top: 20px;
      border-radius: 10px;
      height: 100px;
      background: url("../assets/images/logo.png") no-repeat center, white;
      background-size: 87px 51px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 15px;

      button {
        height: 54px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        letter-spacing: 1px;
      }

      .ask {
        background-color: rgba(248, 0, 64, 1);
        color: white;
      }

      .download {
        background-color: white;
        color: rgba(248, 0, 64, 1);
      }
    }
  }

  .content {
    .content-section {
      .course-details {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;
        background-color: white;
        border-radius: 25px;


        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(217, 217, 217, 1);
          height: calc(100% - 42px);
          width: 1px;
        }

        .detail {
          position: relative;
          color: rgba(10, 51, 88, 1);
          flex-basis: calc(50% - 65px);
          padding: 21px 0 21px 65px;
          font-size: 14px;
          font-weight: 300;
          line-height: 21px;

          .title {
            font-weight: 600;
          }

          &:before {
            content: '';
            position: absolute;
            left: 18px;
            height: 33px;
            width: 33px;
          }

          &:nth-child(1):before {
            background-image: url("../assets/images/tabler.svg");
          }
          &:nth-child(2):before {
            background-image: url("../assets/images/stopwatch.svg");
          }
          &:nth-child(3):before {
            background-image: url("../assets/images/clipboard-check.svg");
          }
          &:nth-child(4):before {
            background-image: url("../assets/images/euro.svg");
          }
        }
      }
      .course-info {
        margin-top: 48px;
        color: rgba(10, 51, 88, 1);

        .title {
          color: rgba(10, 51, 88, 1);
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
          letter-spacing: .7px;
          margin-bottom: 24px;
        }

        .text {
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          text-align: justify;
        }
      }

      .course-purpose {
        margin-top: 72px;
        color: rgba(10, 51, 88, 1);

        .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
          letter-spacing: .7px;
          margin-bottom: 24px;
        }

        .content {
          padding: 24px 24px 32px;
          background-color: white;
          border-radius: 25px;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          text-align: justify;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }

      .course-requirements {
        margin-top: 72px;
        color: rgba(10, 51, 88, 1);

        .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
          letter-spacing: .7px;
          margin-bottom: 24px;
        }

        .content {
          .requirement {
            padding: 0 0 32px 72px;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: -0.5px;
            text-align: justify;

            &:before {
              content: '';
              position: absolute;
              width: 56px;
              height: 56px;
              background-image: url("../assets/images/frame.svg");
              left: 16px;
            }
          }
        }
      }
      .course-program {
        margin-top: 72px;
        color: rgba(10, 51, 88, 1);

        .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
          letter-spacing: .7px;
          margin-bottom: 24px;
        }

        .section {
          padding: 24px 24px 8px;
          background-color: white;
          border-radius: 25px;

          .day-section {
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            text-align: justify;

            .day-title, .section-container {
              padding-bottom: 24px;
            }

            .day-title, .section-title {
              font-weight: 700;
            }

            .section-content {
              li {
                position: relative;
                padding-left: 20px;
                &:before {
                  content:"• ";
                  position: absolute;
                  left: 5px;
                }
              }
            }
          }
        }
      }

      .course-program-download {
        margin-top: 72px;
        color: rgba(10, 51, 88, 1);
        background-color: white;
        border-radius: 25px;
        padding: 24px 24px 0;

        .title {
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          text-align: center;
          padding-bottom: 24px;
        }

        .text {
          font-size: 12px;
          font-weight: 400;
          line-height: 24px;
          text-align: justify;
          padding-bottom: 24px;
        }

        .download {
          height: 54px;
          width: 100%;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: center;
          letter-spacing: 1px;
          background-color: rgba(248, 0, 64, 1);
          color: white;
        }

        .image-download {
          background: url("../assets/images/download.png") center no-repeat;
          background-size: contain;
          height: 200px;
        }
      }

      .course-skills {
        margin-top: 72px;
        color: rgba(10, 51, 88, 1);
        background-color: white;
        border-radius: 25px;
        padding: 24px;

        .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
          padding-bottom: 32px;
        }

        .skills-list {
          li {
            position: relative;
            padding: 0 0 24px 30px;
            
            &:before {
              content: '';
              width: 20px;
              height: 20px;
              position: absolute;
              left: 2px;
              top: -2px;
              background-image: url("../assets/images/chart.svg");
            }
          }
        }
      }

      .course-contact {
        margin-top: 72px;
        color: rgba(10, 51, 88, 1);

        .title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          text-align: center;
        }

        .contact-info {
          font-size: 14px;
          font-weight: 400;
          line-height: 25px;
          text-align: center;
          padding: 32px 0 24px;

          .contact-image {
            background: url("../assets/images/contact-image.png") no-repeat center;
            height: 145px;
          }

          .name {
            font-size: 20px;
            font-weight: 600;
            padding-top: 20px;
          }
        }

        form {
          padding: 32px;
          background: linear-gradient(rgba(117, 47, 255, 1), rgba(85, 0, 252, 1));
          border-radius: 25px;
          color: rgba(255, 255, 255, 1);
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;

          label {
            display: block;
            margin-bottom: 5px;
          }

          input {
            height: 34px;
          };

          textarea {
            min-height: 84px;
          }

          input, textarea {
            margin-bottom: 20px;
            width: 100%;
            font-size: 20px;
            font-family: Poppins, sans-serif;
          }

          .privacy-policy {
            position: relative;

            input {
              position: absolute;
              width: 16px;
              height: 16px;
              margin: 0;
            }

            .text {
              font-family: Poppins;
              font-size: 10px;
              font-weight: 300;
              line-height: 15px;
              text-align: justify;
              text-indent: 24px;

              a {
                color: inherit;
              }
            }

          }

          .submit {
            display: flex;
            height: 54px;
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1px;
            background-color: rgba(248, 0, 64, 1);
            color: white;
            padding: 20px 32px;
            margin: 24px auto;
          }
        }
      }
    }
  }
}